.image_wrapper .icon-video {
  background-color: #363e44;
  background-image: url("/assets/images/video-icon.png");
  width: 2rem;
  height: 2rem;
  display: block;
  background-size: 2rem;
  position: absolute;
  inset-inline-start: 0.75rem;
  top: 0.75rem;
}

.image_wrapper .icon-scorm {
  background-color: #363e44;
  background-image: url("/assets/images/courses-icon.png");
  width: 2rem;
  height: 2rem;
  display: block;
  background-size: 2rem;
  position: absolute;
  inset-inline-start: 0.75rem;
  top: 0.75rem;
}

.image_wrapper .icon-podcast {
  background-color: #363e44;
  background-image: url("/assets/images/podcast-icon.png");
  width: 2rem;
  height: 2rem;
  display: block;
  background-size: 2rem;
  position: absolute;
  inset-inline-start: 0.75rem;
  top: 0.75rem;
}