.icon-card:nth-child(3n+1) {
  background-color: #fff9eb;
}

.icon-card:nth-child(3n+2) {
  background-color: #fff5f8;
}

.icon-card:nth-child(3n+3) {
  background-color: #f5fbff;
}

.icon-cards-modal .external-video > div {
  width: 100% !important;
}
